# Compiled source #
###################
*.pyc

# Nose #
########
*.noseids

# Misc #
########
*.csv
*.orig
*~
*.log
*.nc

# Eclipse #
###########
*.project
*.pydevproject
*.settings

# Django #
##########
*settings.py
*.sqlite
*wsgi.py
*.json

# Sphinx #
##########
*_build*
