# Compiled source #
###################
*.pyc

# Nose #
########
*.noseids

# Misc #
########
*.orig
*~
*.log
*.nc

# Sphinx #
##########
*_build*
*.html
*.js
*.inv
*_images*
*_sources*
*_static*

# PyCharm #
###########
*.idea*

# iPython Notebooks #
#####################
*.ipynb_checkpoints*

# setuptools #
##############
*ocgis.egg-info
