language: python

sudo: false

env:
  - CONDA_PYTHON="python=2.7"

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update --all --yes
  - conda info -a
  - travis_retry conda create -n test $CONDA_PYTHON

install:
  - source activate test
  - travis_retry conda create -n test-full -c nesii/channel/icclim -c nesii/channel/dev-ocgis -c nesii -c ioos ocgis icclim esmpy
  - source activate test-full
  - conda remove ocgis
  - travis_retry conda create -n test-minimal -c nesii/channel/dev-ocgis -c ioos ocgis
  - source activate test-minimal
  - conda remove rtree cf_units ocgis

script:
  - source activate test-minimal
  - python -c "from ocgis.test import run_simple; run_simple(verbose=False)"
  - source activate test-full
  - python -c "from ocgis.test import run_all; run_all(verbose=False)"
