language: python

sudo: false

env:
  global:
    - NESII_CHANNEL="nesii"
  matrix:
    - CONDA_PYTHON="python=2.7", OCGIS_DEPS_ADDS="icclim esmpy"
    - CONDA_PYTHON="python=3.5", OCGIS_DEPS_ADDS=""
    - CONDA_PYTHON="python=3.6", OCGIS_DEPS_ADDS=""

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update --all --yes
  - conda config --prepend channels "conda-forge"
  - conda info -a

install:
  - travis_retry conda create -n test-minimal -c $NESII_CHANNEL -c conda-forge $CONDA_PYTHON ocgis nose mock
  - source activate test-minimal
  - conda remove ocgis
  - python setup.py install

  - travis_retry conda create -n test-full -c $NESII_CHANNEL -c conda-forge $CONDA_PYTHON ocgis nose mock rtree cf_units mpi4py $OCGIS_DEPS_ADDS
  - source activate test-full
  - conda remove ocgis
  - |
    # The current ESMPy installation must come from the NESII channel.
    if [[ $CONDA_PYTHON = "python=2.7" ]]; then
      conda remove esmpy esmf
      conda install -c nesii/label/dev-esmf -c conda-forge --no-deps esmf esmpy
    fi

  - python setup.py install

script:
  - source activate test-minimal
  - python -c "from ocgis.test import run_simple; run_simple(verbose=False)"

  - |
    # Run all tests for Python 2.7 as this supports the full suite of dependencies.
    if [[ $CONDA_PYTHON = "python=2.7" ]]; then
      source activate test-full
      python -c "from ocgis.test import run_more; run_more(verbose=False)"
    fi

  - source activate test-full
  - mpirun -n 2 python -c "from ocgis.test import run_mpi_nodata; run_mpi_nodata(verbose=True)"
